p {
   color: black;
}

div.a {
     text-align: center;
     width: 100%;
     line-height: normal;
}

div.b {
   text-align: left;   
   line-height: .5;
}

h2 {
    Text-decoration: underline;
}

h3 {
   font-style: italic;
}

body {
      height: 100%;
      margin: 1;
      font-family: Times New Roman;
      width: 100%;
      border-style: solid;
}

ul {
    list-style-type: circle;
}
